<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
  <script language="javascript" src="lz-string.js"></script>

  <title>Tom's Secret Message Enigma Machine</title>

</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Tom's Secret Message Enigma Machine</h1>
      <p class="lead">Using this site you can create messages that can *only be viewed by someone coming here and decoding them.</p>
      <p><small>*This is not cryptographically secure. Do not rely on its secrecy if you are facing any opponent more experienced than a 6 year old.</small></p>
    </div>
  </div>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1>Setup</h1>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="useNew">
            <label class="custom-control-label" for="customSwitch1">Use new encoding</label>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1>Encoder</h1>

          <textarea v-model="message" style="width: 100%" rows="8"></textarea>
          <div v-if="!useNew" class="alert alert-secondary result" role="alert">
            <h3>Encoded Message</h3>
            {{ encode(message) }}
          </div>
          <div v-if="useNew" class="alert alert-secondary result" role="alert">
            <h3>Encoded Message with new method</h3>
            {{ encodeNew(message) }}
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <h1>Decoder</h1>
          <textarea v-model="encoded" style="width: 100%" rows="8"></textarea>
          <div v-if="!useNew" class="alert alert-secondary result" role="alert">
            <h3>Decoded Message</h3>
            {{ decode(encoded) }}
          </div>
          <div v-if="useNew" class="alert alert-secondary result" role="alert">
            <h3>Decoded Message with new method</h3>
            {{ decodeNew(encoded) }}
          </div>
        </div>

      </div>


    </div>
  </div>

  <script src="app.js"></script>

</body>

</html>