<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
  <script language="javascript" src="lz-string.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

  <title>Tom's Secret Message Enigma Machine</title>

</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Tom's Secret Message Enigma Machine</h1>
      <p class="lead">Using this site you can create messages that can *only be viewed by someone coming here and decoding them.</p>
      <p><small>*This is not cryptographically secure. Do not rely on its secrecy if you are facing any opponent more experienced than a 6 year old.</small></p>
    </div>
  </div>
  <div id="app">
    <div class="container-lg">
      <div class="row">
        <div class="col-sm mb-3">
          <h4>Setup</h4>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="useNew">
            <label class="custom-control-label" for="customSwitch1">Use new encoding</label>
          </div>
        </div>

      </div>
      <div class="row row-cols-1 row-cols-lg-2">
        <div class="col py-5 py-lg-0">
          <div class="card mb-3">
            <h4 class="card-header">
              Encoder
            </h4>
            <div class="card-body">
              <textarea v-model="message" style="width: 100%" rows="8"></textarea>
            </div>
          </div>
          <div class="card">
            <div class="container card-header">
              <div class="row justify-content-between">
                <div class="col-6">
                  <h5>
                    Encoded Message
                  </h5>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <button v-on:click="copyToClipboard(messageEncoded)" class="btn btn-outline-info">
                    <i data-feather="copy"></i>
                    Copy
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">
                <span> {{ messageEncoded }} </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col pb-5 pb-md-0">
          <div class="card mb-3">
            <h4 class="card-header">
              Decoder
            </h4>
            <div class="card-body">
              <textarea v-model="encoded" style="width: 100%" rows="8"></textarea>
            </div>
          </div>
          <div class="card">
            <h5 class="card-header">
              Decoded Message
            </h5>
            <div class="card-body">
              <p class="card-text">
                <span v-if="useNew"> {{ decodeNew(encoded) }} </span>
                <span v-if="!useNew"> {{ decode(encoded) }} </span>
              </p>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>

  <script src="app.js"></script>

</body>

</html>